
body{
  background-color:#F8F8F8;
  font-weight: 600;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    line-height: 25px;
    background-color:#F0F0F0;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: black;
    display: block;
  }

  #navhead{
      color: gray;
      padding: 6px 0px 6px 16px;
      padding-left: 5%;
      font-size: 13px;
  }

  #dashboard{
    font-size: 14px;
    font-weight:700;
    color: #2176ff;
  }

  #basiknav{
    padding: 6px 2px 6px 16px;
    font-weight: bold; 
    color: #3772ff; 
    font-size: 18px;
    padding-bottom: 15px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    font-weight: bold; 
    color: #3772ff; 
    font-size: 14px; 
  }

  #dashboard:hover{
      font-weight: bold; 
      color: #3772ff; 
      font-size: 14px;
    }

  .container{
    margin-left: 18%;
    margin-top: 2%;
    display: block;
    background-color:#F8F8F8;
    
    border-style: solid;
    border-color:#F8F8F8;
    border-width:5px ;
  }

  #section{
      border-style: solid;
      border-color:#F8F8F8;
      border-width: 5px;
      background-color: white;
      padding-right: 2%;
      
  }


  img {
      display: block;
      max-width: 100%;
      height: 50px;
    }
    * {
    box-sizing: border-box;
  }
  
 
  form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: .5px solid whitesmoke;
    margin-left: 12%;
    width: 75%;
    background: white;
  }
  /* Style buttons */
.btn {
   /* Blue background */
  border: none; /* Remove borders */
  color:gray; /* White text */
   /* Some padding */
  font-size:15px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


